<script>
    /*
      Function to carry out the actual PUT request to S3 using the signed request from the app.
    */
    function uploadFile(file, signedRequest, url){
      const xhr = new XMLHttpRequest();
      xhr.open('PUT', signedRequest);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            <!--document.getElementById('preview').src = url;-->
            <!--document.getElementById('avatar-url').value = url;-->
          }
          else{
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(file);
    }
    /*
      Function to get the temporary signed request from the app.
      If request successful, continue to upload the file using this signed
      request.
    */
    var test;
    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            test = response.url;
            console.log("variable tester " + test);
            uploadFile(file, response.signedRequest, response.url);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }
    /*
     Function called when file input updated. If there is a file selected, then
     start upload procedure by asking for a signed request from the app.
    */
    function initUpload(){
      const files = document.getElementById('file-input').files;
      const file = files[0];
      if(file == null){
        return alert('No file selected.');
      }
      getSignedRequest(file);
    }
    /*
     Bind listeners when the page loads.
    */
    (() => {
        document.getElementById('file-input').onchange = initUpload;
    })();
 </script>

		<!--Upload on form submit or button click-->
		<!--<form ng-app="fileUpload" name="form">-->
      <!--Single Image with validations-->
      <!--<md-button class="md-raised md-primary" ngf-select ng-model="file" name="file" ngf-pattern="'.pdf'"-->
      <!--ngf-accept="'pdf/*'" >Select</md-button>-->
      
			<!--<button type="submit" ng-click="reader()">submit</button>-->
		<!--</form>-->

<div class="container">
  <md-sidenav class="md-sidenav-right" md-component-id="right"
                md-disable-backdrop md-whiteframe="4">
  
    <md-toolbar class="md-accent" style="height: 7vh">
        <div layout="row">
          <h3 flex style="margin-left:10px;"> Job Details </h3>
          <md-button class="md-raised md-primary md-fab" ng-click="toggleRight()">
            <md-tooltip md-direction="left">
              Close side nav
            </md-tooltip> 
            <md-icon md-font-library="material-icons">
              close
            </md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-content>
        <md-content layout-margin >
        </md-content>
      </md-content>
      <md-subheader class="md-no-sticky"><h4 style="color: #388E3C;">Current Active</h4></md-subheader>
	<md-list-item class="secondary-button-padding md-list-item-text" ng-click="null" layout="row" ng-repeat="detail in info">
    <div layout="column">
        <h5>{{detail.data.job_details.job_name}} </h5>
        <p>{{detail.data.job_details.job_timestamp}}</p>
    </div>

    <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)">
      <md-icon md-font-library="material-icons">
        delete_forever
      </md-icon>
    </md-button>
  </md-list-item>

    </md-sidenav>

  <md-content class="md-padding">
    <md-tabs class="md-primary" md-dynamic-height md-border-bottom>
      <md-tab id="tab1">
        <md-tab-label>Op Code Distribution</md-tab-label>
        <md-tab-body>
        <div flex layout="row" layout-align="end center">
           <md-radio-group flex ng-model="graphic" layout="row" style="margin:20px">
            <md-radio-button ng-model="graphic" value=0 class="md-primary">Top level overview</md-radio-button>
            <md-radio-button ng-model="graphic" value=1> Radar View </md-radio-button>
            <md-radio-button ng-model="graphic" value=2> Op Code Comparison </md-radio-button>
           </md-radio-group>
          <md-button class="md-raised md-accent" ng-click="toggleRight()">
            <md-tooltip md-direction="top">
              Job Details
            </md-tooltip> 
            <md-icon md-font-library="material-icons">
              menu
            </md-icon>
					</md-button>
					<md-button class="md-fab md-hue-2 md-mini" 
            ngf-select="reader()"
            ng-model="file" 
            name="file" 
            ngf-pattern="'.pdf'" 
            ngf-accept="'pdf/*'" >
            <md-tooltip md-direction="top">
              Job output file upload
            </md-tooltip> 
						<md-icon md-font-library="material-icons">
							file_upload 
						</md-icon>
					</md-button>
        </div>
          <div ng-show="graphic == 0">
          <canvas id="bar" class="chart chart-bar" 
            chart-data="values" 
            chart-labels="job_labels" 
            chart-series="class_type"
            chart-options="options"></canvas></div>
          
          <div ng-show="graphic == 1">
          <canvas id="radar" class="chart chart-radar"
            chart-data="valuesRV" 
            chart-labels="job_labelsRV" 
            chart-series="class_typeRV"
            chart-options="optionsrv"></canvas></div>
          
          <div ng-show="graphic == 2">
            <div layout="row">
              <div flex style="margin-left: 10px; margin-right: 10px">
                <md-select placeholder="Choose Job for comparison" ng-model="job0">
                  <md-option ng-value="$index" ng-repeat="job0 in job_labels">{{job0}}</md-option>
                </md-select>
              <canvas id="pie" class="chart chart-pie"
                chart-data=valuesRV[job0] 
                chart-labels="job_labelsRV"
                chart-series="class_type"
                chart-options="options2"></canvas>
              </div>

              <div flex style="margin-left: 10px; margin-right: 10px">
                <md-select placeholder="Choose Job for comparison" ng-model="job1">
                  <md-option ng-value="$index" ng-repeat="job1 in job_labels">{{job1}}</md-option>
                </md-select>
                <canvas id="pie" class="chart chart-pie"
                  chart-data=valuesRV[job1] 
                  chart-labels="job_labelsRV"
                  chart-series="class_type"
                  chart-options="options2">
                </canvas>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Execution Times</md-tab-label>
        <md-tab-body>
        <div flex layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="toggleRight()">
            <md-tooltip md-direction="top">
              Job Details
            </md-tooltip> 
            <md-icon md-font-library="material-icons">
              menu
            </md-icon></md-button>
        </div>
      <canvas id="bar" class="chart chart-bar" 
        chart-data="execTimes" 
        chart-labels="job_labels" 
        chart-options="options3">
      </canvas>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Area</md-tab-label>
        <md-tab-body>
        <div flex layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="toggleRight()">
            <md-tooltip md-direction="top">
              Job Details
            </md-tooltip> 
            <md-icon md-font-library="material-icons">
              menu
            </md-icon></md-button>
        </div>
  <canvas id="polar-area" class="chart chart-polar-area" 
    chart-data="area" 
    chart-labels="job_labels" 
    chart-options="optionsrv"
    >
  </canvas>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab4">
        <md-tab-label>Power</md-tab-label>
        <md-tab-body>
        <div flex layout="row" layout-align="end">
          <md-button class="md-raised md-accent" ng-click="toggleRight()">
            <md-tooltip md-direction="top">
              Job Details
            </md-tooltip> 
            <md-icon md-font-library="material-icons">
              menu
            </md-icon></md-button>
        </div>
  <canvas id="bar" class="chart chart-bar" 
    chart-data="power" 
    chart-labels="job_labels" 
    chart-series="powerSeries"
    chart-options="optionsPow"
    >
    </canvas>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
	
</div>
